@model ActivityViewModel
@{
    ViewData["Title"] = "AssignTasks";
}


@if (Model.Tasks.Count() == 0)
{
    <div class="row col-8" style="border: 2px solid rgb(219, 219, 219) ; border-radius: 8px; margin:auto;">
        <h4 class="text-muted " style="margin:auto;margin-top:15px;margin-bottom:15px">No Tasks Assigned to Your Department</h4>
    </div>
}
else
{
    <div id="MainView">
        <div class="row">
            <h3 class="text-muted m-3">Tasks</h3>
        </div>
        <div class="row " style="border: 2px solid rgb(219, 219, 219) ; border-radius: 8px;">
            <div class="col-12  " style="border-right:2px solid rgb(219, 219, 219); margin-top:15px">
                <table class="table table-hover" id="teamTable">

                    <thead class="tableh alert-primary">
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>From </th>
                            <th>To </th>
                            <th>Priority</th>
                            <th>Working Hours</th>
                            <th></th>
                            <th>Progress</th>
                            <th>Assigned To</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Tasks)
                        {
                            <tr id="@item.Id">
                                <td>@item.Name</td>
                                <td>@item.Project.Name</td>
                                <td>@item.StartDate.Date.ToShortDateString()</td>
                                <td>@item.EndDate.Date.ToShortDateString()</td>
                                <td>@item.Priority</td>
                                <td>@item.ActualDuratoin Hours</td>
                                <td>
                                    <div class="btn-group dropleft">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            @item.Description
                                        </div>
                                    </div>
                                </td>
                                @if (item.Progress == 100)
                                {
                                    <td>
                                        <button class="btn btn-success">
                                            Submit
                                        </button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: @item.Progress%; " aria-valuemin="0" aria-valuemax="100">@item.Progress%</div>
                                        </div>
                                    </td>
                                }
                                @if (item.FK_TeamId == null)
                                {
                                    <td id="chId"><button onclick="viewModal(@item.Id)" class="btn btn-secondary" type="submit">Assign</button></td>
                                }
                                else
                                {
                                    <td>@item.Team.Name</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <!-- Assign Team -->
    <div class="modal fade" id="AssignTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="teamList">
                    <div class="form-group">
                        <label asp-for="Team.Name"></label>
                        <select id="teams" class="form-control" asp-for="Team.Id"
                                asp-items="new SelectList(Model.Teams,nameof(Team.Id),nameof(Team.Name))"></select>
                        <span asp-validation-for="Team.Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="assignTeams()">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Board">
    </div>

}


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>

        ////Assign Tasks
        var taskID;
        function viewModal(id) {
            taskID = id;
            $('#AssignTeamModal').modal('show');
        }

        function assignTeams() {
            var team = $('#teams').val();
                
            $.post({
                type: "POST",
                url: `/DepManager/AssignTasks`,
                data: {
                    taskId: taskID,
                    teamId: team
                },

                success: function (result) {
                    alert('Task assigned Successfully !');
                    //$(`ch-${result.taskid}`).empty();
                    //$(`ch-${result.taskid}`).append(result.teamName);
                    $('#chId').empty();
                    $('#chId').append(result.teamName);
                    $('#AssignTeamModal').modal('hide');
                },
                error: function (x, y, err) {
                    console.log(arguments)
                }
            })
        }

    </script>
}