@model ActDetailsViewModel

<div style=" display:flex;justify-content:space-between">

    <button class="btn-light btn btn-lg">
        @Model.Task.Name
    </button>

    @if (DateTime.Now > Model.Task.EndDate)
    {
        <div class="timeup">
            Time UP
        </div>
    }

    <div style="display:flex">

        <a class="btn btn-primary small mr-2" href="/TeamLeader/AddSubTask?taskID=@Model.Task.Id">+ Assign to Engineers</a>

        <div class="dropleft">
            <button class="btn btn-sm btn-outline-info rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="font-size:16px" class="fas fa-info mx-1"></i></button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @if (Model.Task.Description != null)
                {
                    <div class="text-muted p-2"><pre>@Model.Task.Description</pre></div>
                }
                else
                {
                    <div class="p-2" style="color:red">There is no discription .</div>
                }
            </div>

        </div>
    </div>
</div>


@{
    DateTime start = Model.Task.StartDate;
    DateTime subStart = Model.Task.StartDate.AddDays(-1);
    DateTime preStart = Model.Task.StartDate.AddDays(+1);

    DateTime end = Model.Task.EndDate;
    DateTime subEnd = Model.Task.EndDate.AddDays(-1);
    DateTime preEnd = Model.Task.EndDate.AddDays(+1);
}
<div class="container">
    <div style="display:flex;justify-content:space-around;margin-top:20px">
        <div style="display:inline-block;padding:15px;">

            <div style="display:flex;justify-content:center;color:#e2e2e2; font-size:18px">
                @subStart.Day @subStart.ToString("MMM") @subStart.Year
            </div>
            <div style=" font-size:30px;color:green">
                @start.Day @start.ToString("MMM") @start.Year
            </div>
            <div style="display:flex;justify-content:center;color:#e2e2e2; font-size:18px">
                @preStart.Day @preStart.ToString("MMM") @preStart.Year
            </div>
        </div>

        <div style="display:inline-block;padding:15px;">

            <div style="display:flex;justify-content:center;color:#e2e2e2; font-size:18px">
                @subEnd.Day @subEnd.ToString("MMM") @subEnd.Year
            </div>
            <div style=" font-size:30px;color:red">
                @end.Day @end.ToString("MMM") @end.Year
            </div>
            <div style="display:flex;justify-content:center;color:#e2e2e2; font-size:18px">
                @preEnd.Day @preEnd.ToString("MMM") @preEnd.Year
            </div>
        </div>
    </div>






    <div style="display:flex; margin-bottom:5px">
        <section style="width:50em;margin-left:3em">
            <div class="single-chart">
                <svg viewbox="0 0 36 36" class="circular-chart blue">
                    <path class="circle-bg"
                          d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="circle"
                          stroke-dasharray="@Model.Task.ActualDuratoin, 100"
                          d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <text x="18" y="20.35" class="percentage">@Model.Task.ActualDuratoin%</text>
                </svg>
            </div>
        </section>


        <div style="position:absolute;right: 7rem;top: 17rem;">
            <img src="~/img/duration.png" width="60%" />
        </div>


        <div class="rounded-circle" style="position: absolute;     right: 17.1rem;
    top: 20.2rem;
    font-size: 3.5em; width:1.7em;height:1.7em;background:white;display:flex;justify-content:center;align-items:center">
            @Model.Task.Progress <span class="text-muted" style="font-size:25px">h</span>
        </div>
    </div>







    <div style="padding:30px 30px 10px 30px">

        <div id="s @Model.Task.Id" style="display:none;height:200px;border-width:1px 1px 0px 1px; border-style:solid;border-color:rgb(218, 217, 217);border-radius:3px 3px 0 0">

            <button onclick="HiCommentSec(@Model.Task.Id)" class="btn btn-sm" style="position:absolute;right: 14.3em;"><i class="fas fa-window-close"></i></button>
            @if (Model.Task.Comments != null)
            {
                foreach (var item in Model.Task.Comments)
                {
                    <partial name="~/Views/Comment/_CommentPartial.cshtml" model="item" />
                }
            }
        </div>

        <textarea onfocus="ExCommentSec(@Model.Task.Id)" id="commentArea" class=" form-control mb-2" placeholder="Add Comment Here......"></textarea>

        <div style=" display:flex;justify-content:flex-end">

            <div>
                <button class="btn btn-sm btn-outline-secondary " type="button" id="AddFile" onclick="AddFile(@Model.Task.Id)"><i class="fas fa-paperclip"></i> Add File</button>
                <button class="btn btn-sm btn-outline-info  ml-1" type="button" id="AddComment" onclick="AddComment(@Model.Task.Id)">Comment</button>
            </div>
        </div>
    </div>
</div>

