
@model ProjectViewModel
@{
    ViewData["Title"] = "Create Project";
}


<div id="MainView">

    <h3 class="text-muted">Projects</h3>
    <br>
    <!--#region Add project  -->
    <div class="d-flex mb-3">
        <span id="search" style="width:20% ; margin-right:1%;">
            <input class="form-control" type="text" id="Search" placeholder="Search">
        </span>
        <span>
            <button class="btn btn-success " id="addproject">Add project</button>
            <button class="btn btn-light "><i class="fas fa-filter"></i>Filter</button>
            <button class="btn btn-light "><i class="fas fa-arrow-circle-up"></i> Archive</button>
        </span>
    </div>
    <!--#endregion   -->

    <div class="row">
        <div class="col-6">

            <!--#region Create Section  -->
            <div class=" d-none mb-3" id="createsection">
                <div style="width:50%; margin-right:2%">
                    <input asp-for="@Model.Project.Name" class="form-control"
                           type="text" id="projectName" placeholder="Enter the name of new project">
                    <span asp-validation-for="@Model.Project.Name" class="text-danger"></span>
                </div>
                <div>
                    <button class="btn btn-success" id="Createprojrct"> create new project </button>
                    <button class="btn alert-danger" id="cancel">Cancel</button>
                </div>
            </div>
            <!--#endregion -->
            <!--#region Table Section  -->
            <div id="projectsTable" style="border: 2px solid rgb(219, 219, 219) ; border-radius: 8px;">

                @if (Model.Projects.Count<Project>() <= 0)
                {
                    <table class="table table-hover">
                        <tbody id="tablebody">
                            <tr>
                                <h4 id="noProject" style="padding:45px 20px " class="text-muted text-center">Create your first project </h4>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                { <table class="table table-hover">
                        <tbody id="tablebody">
                            @foreach (var item in Model.Projects)
                            {
                                <tr id="@item.ID" onclick="OpenEditSec(@item.ID)" class="Search">
                                    <td class="text-center font-weight-bold">@item.Name</td>
                                    <td style="text-align:right">
                                        <a href="/Project/Details/@item.ID" class="btn btn-outline-info"><i id="i" class="fas fa-chart-area"></i> Details</a>
                                        <a href="/Activity/Index/@item.ID" class="btn alert-info"><i id="i" class="fas fa-chart-area"></i> Chart</a>

                                        @if (item.EndDate != null)
                                        {
                                            <a  href="/project/dashboard?projid=@item.ID" class="btn alert-warning">Dashboard</a>
                                        }
                                        else
                                        {
                                            <div class="btn-group dropleft">
                                                <button type="button" class="btn alert-warning " data-toggle="dropdown">
                                                    Dashboard
                                                </button>
                                                <div class="dropdown-menu px-2 mx-1 alert-danger">
                                                    Lets goto charts and create tasks
                                                </div>
                                            </div>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <!--#endregion -->
            </div>

        </div>

        <div id="formSec" class="col-6">
            <!--#region Form Section  -->
            <div style="border: 2px solid rgb(219, 219, 219) ; padding: 50px 25px;  border-radius: 8px;">
                <h4 class="text-muted text-center">Choose project to edit</h4>
            </div>
            <!--#endregion -->
        </div>
    </div>
</div>


<div id="Board">
</div>




@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation-unobtrusive-ajax/dist/jquery.unobtrusive-ajax.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>

        $(document).ready(function () {
            function Contains(textOne, textTwo) {
                if (textOne.indexOf(textTwo) != -1)
                    return true;                
            }
            $('#Search').keyup(function () {
                var searchText = $('#Search').val().toLowerCase();
                $('.Search').each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            });
        })


        //open form for add name of project
        var btn = $('#addproject').click(function () {
            $('#addproject').hide();
            $('#createsection').addClass("d-flex");
            $('#search').css('width', '30%');
        })

        //this function is called after add new project also
        function CloseProjrctNameSec() {
            $('#addproject').show();
            $('#createsection').removeClass("d-flex");
            $('#search').css('width', '20%');
        }
        $('#cancel').click(CloseProjrctNameSec)


        //Add Ajax
        $('#projectName').keypress(function (event) {
            var keyCode = (event.keyCode ? event.keyCode : event.which);
            if (keyCode == '13') {
                Add()
            }
        })

        $('#Createprojrct').click(Add);
        function Add() {
            var pName = $('#projectName').val();
            if (pName) {
                $.ajax({
                    type: "POST",
                    url: `/Project/Add`,
                    data: { Name: pName },
                    success: function (response) {
                        $('#tablebody').append(
                            `<tr id="${response.id}" onclick="Edit(${response.id})">
                                                                                                                                                                        <td class="text-center font-weight-bold">${response.name}</td>
                                                                                                                                                                        <td style="text-align:right">
                                                                                                                                                                        <a href="/Project/Details/${response.id}" class="btn btn-outline-info"><i id="i" class="fas fa-chart-area"></i> Details</a>
                                                                                                                                                                        <a href="/Activity/Index/${response.id}" class="btn alert-info" ><i id="i" class="fas fa-chart-area"></i> Chart</a>
                                                                                                                                                                        <div class="btn-group dropleft">
                                                                                                                                            <button type="button" class="btn alert-warning " data-toggle="dropdown" >
                                                                                                                                                Dashboard
                                                                                                                                            </button>
                                                                                                                                            <div class="dropdown-menu px-2 alert-danger">
                                                                                                                                                Lets goto charts and create tasks
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                                                </tr>`
                        );
                        //For first time if there is no project in the table (Hide the sec of No Project is created)
                        $('#noProject').hide();
                        pName = '';
                        CloseProjrctNameSec();
                        OpenEditSec(response.id)
                    },
                    error: function (x, y, err) {
                        console.log(arguments)
                    }
                });
            }
        }


        //Open the right window which contain the form
        //this function is called from (Edit function , Add function)
        function OpenEditSec(projectId) {
            $.ajax({
                type: "GET",
                url: `/Project/Edit`,
                data: { id: projectId },
                success: function (response) {
                    $('#formSec').replaceWith(response)
                },
                error: function (x, y, err) {
                    console.log(arguments)
                }
            })
        };



        //Submit form ajax
        function SubmitForm(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: `/project/Edit/`,
                data: $('#projectForm').serialize(),
                success: function (data) {
                    document.getElementById(`${data.id}`).firstElementChild.innerHTML = data.name;
                },
                error: function (x, y, err) {
                    alert("Project name must be entered")
                },
            });
        };

        function EditName(result) {
            console.log(result)
            //document.getElementById(`${data.id}`).firstElementChild.innerHTML = data.name;
        }



        
        function Show(divName) {
            $(`#${divName}`).removeClass('d-none');
        }
        function Hide(divName) {
            $(`#${divName}`).addClass('d-none');
        }
    </script>
}


@section Style{
    <style>
        /*body {
            background-color: #e6f5ea;
        }*/

        .slice {
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0 0px 0;
            background: white;
        }
    </style>
}