@model Project

<div id="formSec" class="col-6">
    <div style="border: 2px solid rgb(219, 219, 219) ; padding: 20px; border-radius: 8px;">
        @*
        <form method="post" data-ajax-url="/Employee/AddEmployee" data-ajax="true" data-ajax-method="Post" data-ajax-complete="addEmployee"
                 data-ajax-update="#tableBody" data-ajax-mode="after" id="EmployeeForm">
        *@


        @*<form id="projectForm" onsubmit="SubmitForm(event)">*@

        <form method="post" data-ajax-url="/project/Edit" data-ajax="true" data-ajax-method="Post" data-ajax-complete="EditName"
              data-ajax-update="#prjName" data-ajax-mode="replace" id="ProjectForm">
            <div class="row">
                <input hidden asp-for="@Model.ID" />
                <input hidden asp-for="@Model.StartDate" value="@Model.StartDate" />
                <input hidden asp-for="@Model.EndDate" value="@Model.EndDate" />
                <input hidden asp-for="@Model.FK_Manager" value="@Model.FK_Manager" />
                

                <div class="form-group col-lg-6">
                    <label  asp-for="@Model.Name">Project Name</label>
                    <input id="prjName" asp-for="@Model.Name" class="form-control" placeholder="Project Name" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Owner">Owner Name</label>
                    <input asp-for="@Model.Owner" class="form-control" placeholder="Owner Name" />
                    <span asp-validation-for="@Model.Owner" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Priority">Priority</label>
                    @Html.DropDownList("Priority",
                    new SelectList(Enum.GetValues(typeof(Priority))),
                    "Select Priority",
                    new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
                @*<div class="form-group col-lg-6">
                    <label asp-for="@Model.Status">Status</label>
                    @Html.DropDownList("Status",
                    new SelectList(Enum.GetValues(typeof(Status))),
                    "Select Status",
                    new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>*@
            </div>

            <hr />


            <div class="row mb-3">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Income">Income</label>
                    @if (Model.Income > 0)
                    {
                        <h5>@Model.Income LE</h5>
                    }
                    else
                    {
                        <h5>0 LE</h5>
                    }
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Outcome">Outcome</label>
                    @if (Model.Income > 0)
                    {
                        <h5>@Model.Outcome LE</h5>
                    }
                    else
                    {
                        <h5>0 LE</h5>
                    }
                </div>
            </div>

            
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

</div>