@model Project

<div id="formSec" class="col-6">
    <div style="border: 2px solid rgb(219, 219, 219) ; padding: 20px; border-radius: 8px;">

        <form method="post" data-ajax-url="/project/Edit" data-ajax="true" data-ajax-method="Post" data-ajax-complete="EditName"
              data-ajax-update="#prjName" data-ajax-mode="replace" id="ProjectForm">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label  asp-for="@Model.Name">Project Name</label>
                    <h5>@Model.Name</h5>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Owner">Owner Name</label>
                    <h5>@Model.Owner</h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Priority">Priority</label>
                    @Html.DropDownList("Priority",
                    new SelectList(Enum.GetValues(typeof(Priority))),
                    "Select Priority",
                    new { @class = "form-control" })
                </div>             
            </div>
            <hr />


            <div class="row mb-3">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Income">Income</label>
                    @if (Model.Income > 0)
                    {
                        <h5>@Model.Income LE</h5>
                    }
                    else
                    {
                        <h5> 0 LE</h5>
                    }
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Outcome">Outcome</label>
                    @if (Model.Income > 0)
                    {
                        <h5>@Model.Outcome LE</h5>
                    }
                    else
                    {
                        <h5> 0 LE</h5>
                    }
                </div>
            </div>
           
        </form>
    </div>

</div>