@model Project

<div id="formSec" class="col-6">

    <div style="border: 2px solid rgb(219, 219, 219) ; padding: 20px; border-radius: 8px;">

        <form id="prjForm">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Name">Project Name</label>
                    <input asp-for="@Model.Name" class="form-control" placeholder="Project Name" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Owner">Owner Name</label>
                    <input asp-for="@Model.Owner" class="form-control" placeholder="Owner Name" />
                    <span asp-validation-for="@Model.Owner" class="text-danger"></span>
                </div>
            </div>


            <hr />



            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Priority">Priority</label>
                    @Html.DropDownList("Priority",
                    new SelectList(Enum.GetValues(typeof(Priority))),
                    "Select Priority",
                    new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Status">Status</label>
                    @Html.DropDownList("Status",
                    new SelectList(Enum.GetValues(typeof(Status))),
                    "Select Status",
                    new { @class = "form-control" })
                </div>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="@Model.Progress">Progress</label>
                <h4>@Model.Progress</h4>
            </div>


            <hr />


            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Income">Income</label>
                    <h4>@Model.Income</h4>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.Outcome">Outcome</label>
                    <h4>@Model.Outcome</h4>
                </div>
            </div>

            <div class="form-group ">
                <label asp-for="@Model.TotalBudget">TotalBudget</label>
                <h4>@Model.TotalBudget</h4>
            </div>



            <hr />




            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.StartDate">StartDate</label>
                    <h4>@Model.StartDate</h4>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.EndDate">EndDate</label>
                    <h4>@Model.EndDate</h4>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.ActualDuration">ActualDuration</label>
                    <h4>@Model.ActualDuration</h4>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="@Model.EstimatedDuration">EstimatedDuration</label>
                    <h4>@Model.EstimatedDuration</h4>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>

</div>