@model ActivityViewModel
@{
    ViewData["Title"] = "Details";
    Model.Tasks = Model.Tasks.ToList();
}

<div>
    <div style="display:flex;justify-content:space-evenly">

        <div class="innerleft slice pt-4" style="width:35%;padding:20px">
            <h4 style="margin-bottom:35px">@Model.Tasks[0].Project.Name</h4>

            <table class="table table-hover text-center" id="teamTable">
                <tbody>
                    @for (int i = 0; i < Model.Tasks.Count(); i++)
                    {
                        <tr id="@Model.Tasks[i]" onclick='displayTaskDetails("@Model.Tasks[i].Id")'>
                            <td>@Model.Tasks[i].Name</td>
                            @if (Model.Tasks[i].Department != null)
                            {
                                <td>@Model.Tasks[i].Department.Name</td>
                            }
                            else
                            {
                                <td style="color:red">Not Assigned Yet</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="innerright  slice" style="width:60%">
            <div style=" padding: 15px; border-radius: 8px;">
                <div class="row" style="margin:auto;" id="tasks">
                    <h4 id="alertdiv" class="text-muted text-center mt-5" style="margin:auto;">Select Task to Show Data</h4>
                    <div id="tableBody" class="table table-hover align-middle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- File Modal -->
<div class="modal fade" id="FileModal" tabindex="-1" role="dialog" aria-labelledby="FileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FileModalLabel">Files</h5>
            </div>
            <form id="fileForm" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <label>Upload File</label>
                    <div class="custom-file">
                        <input name="file" class="form-control custom-file-input" type="file" />
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                    <input id="task_Id" name="taskId" value="" hidden />
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                    <button onclick="uploadFile()" type="button" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- #endregion -->
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script>

        function displayTaskDetails(id) {
            $.ajax({
                url: "/Task/GetTask?taskid=" + id,
                type: "Get",
                //data: { engId: `${id}` },
                success: function (result) {
                    if (result) {
                        $('#alertdiv').hide();
                        $('#tableBody').empty();
                        $('#tableBody').append(result);
                    }
                },
                error: function (x, y, err) {
                    console.log(err);
                }
            })
        }

        //-----------Add Description
        function updateDesc(taskId) {
            $.ajax({
                url: "/Task/AddTaskDesc",
                type: "Post",
                data: { taskId: taskId, taskDesc: $("#taskDesc").val() },
                success: function (result) {
                    $('#tableBody').empty();
                    $('#tableBody').append(result);
                },
                error: function (x, y, err) {
                    console.log(err);
                }
            })
        }



        //----------Add File----------//

        function AddFile(taskId) {
            isHighLevel = true;
            $('#task_Id').attr("value", taskId);
            $('#FileModal').modal('show');
        }

        $('input[type="file"]').change(function (e) {
            fileName = e.target.files[0].name;
            $(".custom-file-label").html(fileName);
        });

        function uploadFile() {
            let form = $('#fileForm')[0];
            let data = new FormData(form);
            if (fileName) {
                $.ajax({
                    type: 'post',
                    url: `/comment/AddFileForTask?isHighLevel=true`,
                    processData: false,  // Important!
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function (response) {
                        $("#FileModal").modal('hide');
                        $("#SHigh").append(response);
                    }
                })
            }
        }



        //----------Add Comment-----------//

        function AddComment(taskId) {
            let comment = $('#commentArea').val();
            let isHighLevel = true;
            if (comment) {
                $.ajax({
                    type: "Post",
                    url: `/Comment/AddCommentForTask/`,
                    data: {
                        comment: comment,
                        taskId: taskId,
                        isHighLevel: isHighLevel
                    },
                    success: function (res) {
                        $('#commentArea').val("");
                        $("#SHigh").append(res);
                    },
                    error: function (x, y, err) {
                        console.log(err);
                    }
                })
            }
        }



        $('#FileModal').on('hidden.bs.modal', function (e) {
            $(".custom-file-label").html("");
        })



        function ExCommentSec(id) {
            document.getElementById("SHigh").style.display = "block"
        }

        function HiCommentSec(id) {
            document.getElementById("SHigh").style.display = "none"
        }

    </script>
}

@section Style{

    <style>

        .message-text {
            padding: 20px, 14px;
            font-size: 1rem;
            margin-bottom: 0px;
        }

        .message-time {
            font-size: .8rem;
            color: #777;
        }

        body {
            background-color: #eef5f0;
        }

        .slice {
            border: 0px solid white;
            border-radius: 8px;
            background: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .timeup {
            top: 4.4rem;
            background: red;
            position: absolute;
            left: 51rem;
            font-size: 1.5rem;
            padding: 5px 20px;
            border: 0 solid;
            border-radius: 0 0 10px 10px;
        }
    </style>
    <link rel="stylesheet" href="~/css/circle.css" />
}

