@model EmpRolesViewModel

    <input  hidden asp-for="@Model.EmpId" value="@Model.EmpId"/>
    <br />
    @for (int i = 0; i < Model.EmpRoles.Count; i++)
    {
        <input type="checkbox" asp-for="@Model.EmpRoles[i].IsSelected"/>
        <label asp-for="@Model.EmpRoles[i].role.Name">@Model.EmpRoles[i].role.Name</label>
        <input type="hidden" asp-for="@Model.EmpRoles[i].role.Name" />
        <br />
    }
