
@{
    ViewData["Title"] = "TestView";
}

<h1>TestView</h1>

@model EmpRolesViewModel

<form method="post" asp-action="EditRoles" asp-controller="Employee">
    <div class="form-group">
        <label asp-for="@Model.EmpRoles" style="text-decoration:underline"></label>
        <br />
        @for (int i = 0; i < Model.EmpRoles.Count; i++)
        {
            <input type="checkbox" asp-for="@Model.EmpRoles[i].IsSelected" class="form-control" />
            <label asp-for="@Model.EmpRoles[i].role">@Model.EmpRoles[i].role</label>
            @*<input type="hidden" asp-for="@Model.PaymentMethods[i].Id " />*@
            <input type="hidden" asp-for="@Model.EmpRoles[i].role" />
            <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-secondary">Close</button>
</form>

