@model Team

<tr id="@Model.Id">
    <td class="text-center font-weight-bold">@Model.Name</td>
    @if (Model.TeamLeader !=null)
    {
    <td class="ManagerName">@Model.TeamLeader.UserName</td>
    }
    else
    {
        <td class="ManagerName"></td>
    }
    <td class="text-right">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-success btn-sm" onclick="AssignLeader(@Model.Id)"><i class="fas fa-male"></i></button>
            @*<a class="btn btn-outline-primary" asp-controller="Employee" asp-action="ViewEmployees" asp-route-id="@Model.Id"><i class="fas fa-users"></i></a>*@
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteTeam(@Model.Id)"><i class="far fa-trash-alt"></i></button>
        </div>
    </td>
</tr>



