@model Invoice

<tr id="@Model.Id">
    <td>@Model.Name</td>
    <td style="width:100px;"><input asp-for="@Model.Value" value="@Model.Value" class="invoValues" style="border:none; text-align:center;" readonly /></td>
    <td>@Model.InvoiceDate.Date.ToShortDateString()</td>
    <td>@Model.PaymentDate.Date.ToShortDateString()</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="showInvoice(@Model.Id)"><i class="fas fa-info-circle"></i></button>
            @if (User.IsInRole(Roles.Finance.ToString()))
            {
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteInvoice(@Model.Id)"><i class="far fa-trash-alt"></i></button>
            }
        </div>
    </td>
</tr>