@model InvoiceViewModel
@{
    ViewData["Title"] = "Invoice";
    int invoType = (int)TempData["InvoiceType"];
}

<h1>Invoices</h1>
<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addInvoiceModal">
    Add Invoice
</button>

<div id="invoContainer" style="text-align:center;">
    @if (Model.Invoices.Count > 0 && Model.Invoices != null)
    {
        <table class="table">
            <thead class="alert-info">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Ivoice Date</th>
                    <th scope="col">Payment Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tableBody" class="table-sm">
                @for (int i = 0; i < Model.Invoices.Count(); i++)
                {
                    <partial name="_InvoicePartialView" model="Model.Invoices[i]" />
                }

            </tbody>
        </table>

    }
    else
    {
        <div class="alert alert-info">There are no Invoices for this Project </div>
    }
</div>
<div style="display:flex">
    <h3>Total:   </h3>
    <h3><input id="totalValues" style="border:none;" readonly /></h3>
</div>


<!-- Add Invoice -->
<div class="modal fade bd-example-modal-lg" id="addInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" data-ajax-url="/Invoice/addInvoice" data-ajax="true" data-ajax-method="Post" data-ajax-complete="addInvoice"
                  data-ajax-update="#tableBody" data-ajax-mode="after" id="InvoiceForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invoices</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden type="text" asp-for="@Model.Invoice.FK_ProjectId" value="@Model.ProjectId" />
                    <input hidden type="number" asp-for="@Model.Invoice.InvoicesType" value="@invoType" />
                    <div class="form-group">
                        <label asp-for="@Model.Invoice.Name"></label>
                        <input asp-for="@Model.Invoice.Name" class="form-control" />
                        <span asp-validation-for="@Model.Invoice.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Invoice.Value"></label>
                        <input asp-for="@Model.Invoice.Value" class="form-control" />
                        <span asp-validation-for="@Model.Invoice.Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row" style="text-align:center;">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <td>Qunatity</td>
                                        <td>Description</td>
                                        <td>Unit Price</td>
                                        <td>Total Price</td>
                                    </tr>
                                </thead>
                                <tbody id="itemtbody">
                                    @if (Model.Invoice != null)
                                    {
                                        foreach (var item in Model.InvoiceItems)
                                        {
                                            <tr>
                                                <td><input asp-for="@item.Quantity" type="number" /></td>
                                                <td><input asp-for="@item.Description" class="descripe" type="text" /></td>
                                                <td><input asp-for="@item.UnitPrice" type="number" /></td>
                                                <td><input class="totalprice" readonly /></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 0; i < 1; i++)
                                        {
                                            <tr>
                                                <td><input id="itq-@i" asp-for="@Model.InvoiceItems[i].Quantity" type="number" /></td>
                                                <td><input id="itd-@i" asp-for="@Model.InvoiceItems[i].Description" class="descripe" type="text" /></td>
                                                <td><input id="itu-@i" asp-for="@Model.InvoiceItems[i].UnitPrice" type="number" /></td>
                                                <td><input id="itt-@i" class="totalprice" readonly /></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-outline-primary" id="additem" value="Add Invoice Item" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Invoice.InvoiceDate"></label>
                        <input asp-for="@Model.Invoice.InvoiceDate" class="form-control" />
                        <span asp-validation-for="@Model.Invoice.InvoiceDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="@Model.Invoice.PaymentDate"></label>
                        <input asp-for="@Model.Invoice.PaymentDate" class="form-control" />
                        <span asp-validation-for="@Model.Invoice.PaymentDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation-unobtrusive-ajax/dist/jquery.unobtrusive-ajax.js"></script>
    <script>

        function addInvoice(result, status) {
            if (status == "success") {
                $('#addInvoiceModal').modal('hide');
                document.getElementById("InvoiceForm").reset();
                alert("Employee added Successfully");
            }
            else {
                alert("Error While Adding Invoice");
                document.getElementById("InvoiceForm").reset();
            }
        }

        function deleteInvoice(id) {
            let reponse = confirm("Are You Sure ? ");
            if (reponse) {
                $.ajax({
                    url: "Invoice/Delete",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        if (result) {
                            $("#" + id).remove();
                            console.log($("#" + id));
                        } else {
                            alert("an error occurred");
                        }
                    },
                    error: function (x, y, err) {
                        console.log(err);
                    }
                });
            }
        }

        function showInvoice(id) {
            $.ajax({
                url: "/Invoice/GetInvoiceWithItems/" + id,
                type: "GET",
                success: function (result) {
                    if (result) {
                        var contentCollection = document.getElementsByClassName('modal-content');
                        $(contentCollection[0].firstElementChild).hide(); // hide the orginal form
                        $('.modal-content').append(result);
                        $('#addInvoiceModal').modal('show');
                    } else {
                        alert("an error occurred");
                    }
                },
                error: function (x, y, err) {
                    console.log(err);
                }
            });
        }
        // reshow the orginal Form
        $('#addInvoiceModal').on('hidden.bs.modal', function (e) {
            var contentCollection = document.getElementsByClassName('modal-content');
            $(contentCollection[0].firstElementChild).show();
            if (contentCollection[0].children.length > 1) { contentCollection[0].lastElementChild.remove(); }
        });
        // claculate total price
        $('#itemtbody').on('change', function (e) {
            var targetRow = e.target.parentElement.parentElement;
            var quantity = targetRow.children[0].firstChild.value;
            var unitPrice = targetRow.children[2].firstChild.value;
            targetRow.lastElementChild.firstChild.value = (quantity * unitPrice);
        });
        // add invoice item row
        $('#additem').on('click', function (e) {
            var nextIndex = $(".descripe").length;
            var c = `<tr> <td><input type="number" data-val="true" data-val-required="The Quantity field is required."                id="InvoiceItems_${nextIndex}__Quantity" name="InvoiceItems[${nextIndex}].Quantity" value="" class="input-validation-             error" aria-describedby="InvoiceItems_${nextIndex}__Quantity-error"></td>
                                                                    <td><input class="descripe valid" type="text" id="InvoiceItems_${nextIndex}__Description" name="InvoiceItems[${nextIndex}].Description" value="" aria-invalid="false"></td>
                                                                    <td><input type="number" data-val="true" data-val-required="The UnitPrice field is required." id="InvoiceItems_${nextIndex}__UnitPrice" name="InvoiceItems[${nextIndex}].UnitPrice" value="" class="input-validation-error" aria-describedby="InvoiceItems_${nextIndex}__UnitPrice-error"></td>
                                                                    <td><input class="totalprice" readonly=""></td> </tr>`
            $('#itemtbody').append(c);
        });
        // clculate total Invoices' value
        var total = 0;
        function calculatTotal() {
            $('.invoValues').each(function (index, inp) {
                total += parseInt(inp.value);
                $('#totalValues').val(total);
            });
        }
        $('#tableBody').ready(function () {
            calculatTotal();
        });
        $('#tableBody').on('change', '.invoValues', function () { calculatTotal(); });

    </script>
}