@model SubTask

<tr id="@Model.Id">
    <td>@Model.Name</td>
    <td>@Model.Priority</td>
    <td>@Model.StartDate.Value.ToShortDateString()</td>
    <td>@Model.EndDate.Value.ToShortDateString()</td>
    <td>@Model.Status</td>
    <td>@Model.Progress</td>
    @if (@Model.Engineer != null)
    {
        <td>@Model.Engineer.UserName</td>
    }
</tr>