@model SubTask

<div class="col-5 rightcont" id="rightSec">
    <div style="border: 2px solid rgb(219, 219, 219) ; padding: 20px; border-radius: 8px;">
        <div class="righthead">
            <h5 calss="col-12 ">@Model.Name</h5>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-7 innerleft" style="border-right:2px solid rgb(219, 219, 219)">
                <div class="prog">
                    <h5>Progress</h5>
                   

                    <div class="cont">
                        <input type="range" asp-for="@Model.Progress" onchange="ChangeProgress(@Model.Id,this.value)" min="0" max="100" step="10" class="slider" id="myRange">    
                        
                    </div>
                </div>



                <h5 calss="item"> Discription </h5>
                <div class="card card-body">@Model.Description</div>


                <h5 calss="item"> Files <span class="caret"></span> </h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>file1.html</td>
                        </tr>
                        <tr>

                            <td>file2.css</td>
                        </tr>
                        <tr>

                            <td>file3.dxf</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="col-lg-5 innerright ">

                <h5>Start Data</h5>
                <h5 class="text-muted">@Model.StartDate</h5>


                <h5>End Data</h5>
                <h5 class="text-muted">@Model.EndDate</h5>
                @{
                    int duration = (int)(Model.EndDate - Model.StartDate).TotalHours;
                }
                <h5>Task Duration</h5>
                <h5 class="text-muted">@duration hour</h5>

                <div>
                    <h5>Actual Duration</h5>
                    <h5 class="text-muted">@duration hour</h5>
                </div>
            </div>
        </div>
    </div>
</div>


