@model SubTask

<div class="col-5 rightcont" id="rightSec" >
    <div style="border: 2px solid white ; padding: 20px; border-radius: 8px; background:white" >
        <div class="righthead " >

            <div class="dropdown">
                <button class="btn-light btn btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.Name
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="text-muted p-2">@Model.Description</div>
                </div>
            </div>
        </div>



        <hr />
        <div class="row">
            <div class="col-lg-7 innerleft" style="border-right:2px solid rgb(219, 219, 219)">
                <div class="prog">
                    <div class="font-weight-bold">Progress</div>
                    <div class="cont">
                        <input type="range" asp-for="@Model.Progress" onchange="ChangeProgress(@Model.Id,this.value)" min="0" max="100" step="10" class="slider" id="myRange">
                    </div>

                </div>

                <a class="btn btn-sm btn-outline-info" href="/comment/activitylog?taskId=@Model.FK_TaskId">Task Details <i class="fas fa-info"></i></a>             
            </div>
            <div class="col-lg-5 innerright ">

                <div class="font-weight-bold">Start Data</div>
                <div class="text-muted mb-2">@Model.StartDate.Value.Date.ToShortDateString()</div>


                <div class="font-weight-bold">End Data</div>
                <div class="text-muted mb-2">@Model.EndDate.Value.Date.ToShortDateString()</div>
                @{
                    int duration = (int)(Model.EndDate - Model.StartDate).Value.TotalDays * 8;
                }
                <div class="font-weight-bold">Task Duration</div>
                <div class="text-muted mb-2">@duration hour</div>

                <div class="font-weight-bold">Actual Duration</div>
                <div class="text-muted"> @Model.ActualDuration hour</div>
                @*<br />
                    <button class="btn btn-success w-100" onclick="SubmitSunTask()">Submit</button>*@
            </div>
        </div>
   
            <textarea id="commentArea" class="col-12 mt-3" placeholder="Add Comment Here......"></textarea>
            <div style="display:flex;justify-content:flex-end">
                <button class="btn btn-sm btn-outline-secondary mr-2" onclick="UploadFile(@Model.Id)"> Upload File <i class="fas fa-paperclip"></i></button>
                <button class="btn btn-sm btn-outline-info float-sm-right" type="button" id="AddComment" onclick="AddComment(@Model.Id,@Model.FK_TaskId)">Comment</button>
            </div>
    </div>
</div>


