@model SubTask

<div class="col-5 rightcont" id="rightSec">
    <div style="border: 2px solid rgb(219, 219, 219) ; padding: 20px; border-radius: 8px;">
        <div class="righthead">
            <h5 calss="col-12 mb-2 ">@Model.Name</h5>
        </div>


        @*<div class="font-weight-bold mb-2"> Discription </div>*@
        <div class="text-muted mb-2">@Model.Description</div>

        <hr />

        <div class="row">
            <div class="col-lg-7 innerleft" style="border-right:2px solid rgb(219, 219, 219)">
                <div class="prog">
                    <div class="font-weight-bold">Progress</div>


                    <div class="cont">
                        <input type="range" asp-for="@Model.Progress" onchange="ChangeProgress(@Model.Id,this.value)" min="0" max="100" step="10" class="slider" id="myRange">

                    </div>
                </div>




                @*<div class="font-weight-bold mb-2 "> Files <span class="caret"></span> </div>
                <table class="table table-striped table-sm">
                    <tbody>
                        <tr>
                            <td>file1.html</td>
                        </tr>
                        <tr>
                            <td>file2.css</td>
                        </tr>
                        <tr>
                            <td>file3.dxf</td>
                        </tr>
                    </tbody>
                </table>*@

            </div>



            <div class="col-lg-5 innerright ">


                <div class="font-weight-bold">Start Data</div>
                <div class="text-muted mb-2">@Model.StartDate.Value.Date.ToShortDateString()</div>


                <div class="font-weight-bold">End Data</div>
                <div class="text-muted mb-2">@Model.EndDate.Value.Date.ToShortDateString()</div>
                @{
                    int duration = (int)(Model.EndDate - Model.StartDate).Value.TotalDays * 8;
                }
                <div class="font-weight-bold">Task Duration</div>
                <div class="text-muted mb-2">@duration hour</div>

                <div class="font-weight-bold">Actual Duration</div>
                <div class="text-muted"> @Model.ActualDuration hour</div>
                <br />
                <button class="btn btn-success w-100" onclick="SubmitSunTask()">Submit</button>
            </div>
        </div>
    </div>
</div>


